body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #333;
}
section {
  min-height: 60vh;
}
.navbar .nav-link {
  font-weight: 400;
  font-family:Poppins;
}
/* <!--remove navbar-light bg-light--> */
.navbar {
  background: transparent;
  backdrop-filter: blur(2px);
  }

.nav-link-red {
  color: red !important;
  font-weight: 500;
}
.nav-link-red:hover {
  color: darkred !important;
}